.App-main {
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.filter p {
  font-weight: 700;
}

.filter > div {
  display: flex;
  gap: 16px;
}

.List-transactions {
  display: flex;
  flex-direction: column;
  gap: 32px;
}