.App-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 16px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.filter p {
  font-weight: 700;
}

.filter > div {
  display: flex;
  gap: 16px;
}

.List-transactions {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 900px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }

  header {
    padding: 0;
  }

  header > .header-content{
    width: 1000px;
  }

  form {
    width: 363px;
  }

  .App-main {
    flex-wrap: nowrap;
    padding: 0;
  }

  .Card {
    width: 560px;
    height: 87px;
  }

  .container-list {
    width: 560px;
  }
}
